<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="booking-cta">
                        <h1>Book your flight today</h1>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        <form (ngSubmit)="onSubmit()" autocomplete="off">
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="flight-type">
                                        <span></span>Roundtrip
                                    </label>
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight-type" checked>
                                        <span></span>One way
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        <input type="text"
                                        [(ngModel)] ="originCity"
                                        name="originCity"
                                        [typeahead]="airports"
                                        (typeaheadOnSelect)="typeaheadOnSelect($event, 'Departure')"
                                        [typeaheadOptionsLimit]="10"
                                        typeaheadOptionField="name"
                                        placeholder="City or airport"
                                        class="typeahead form-control"
                                        [typeaheadMinLength]="3" autocomplete="off"
                                        (ngModelChange)="checkInput($event)"
                                        typeaheadWaitMs="1000" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flyning to</span>
                                        <input type="text"
                                        [(ngModel)] = 'destinationCity'
                                        name='destinationCity'
                                        [typeahead]="airports"
                                        (typeaheadOnSelect)="typeaheadOnSelect($event, 'Destination')"
                                        [typeaheadOptionsLimit]="10"
                                        typeaheadOptionField="name"
                                        placeholder="City or airport"
                                        class="typeahead form-control"
                                        [typeaheadMinLength]="3" autocomplete="off"
                                        (ngModelChange)="checkInput($event)"
                                        typeaheadWaitMs="1000" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        <input type="date" class="form-control" [(ngModel)]="departureDate"  name="departureDate" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input type="date" class="form-control" [(ngModel)]="returnDate" name="returnDate" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Adults</span>
                                        <select class="form-control" name="noOfAdults" [(ngModel)]="noOfAdults">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <span class="form-label">Children</span>
                                        <select class="form-control" name="noOfChildren" [(ngModel)]="noOfChildren">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                        <div class="form-group">
                                            <span class="form-label">Infants</span>
                                            <select class="form-control" name="noOfInfants" [(ngModel)]="noOfInfants">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                </div>

                                <div class="col-md-3">
                                        <div class="form-group">
                                            <span class="form-label">Airline</span>
                                            <select class="form-control" [(ngModel)]="airline"  name="seatClass"
                                            id="seatclass" required>
                                                    <option value="">All</option>
                                                    <option value="AY">Finnair</option>
                                                    <option value="D8">Norwegian Air</option>
                                                    <option value="BT">Air Baltic</option>
                                                    <option value="BA">British Airways</option>
                                                    <option value="LH">Lufthansa</option> 					
                                                    <option value="SQ">Singapore Airlines</option> 						
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="form-label">Travel class</span>
                                        <select class="form-control" [(ngModel)]="seatClass" name="seatClass" id="seatclass" required>
                                            <option value="M">Economy</option>  
                                            <option value="M">Premium Economy</option>   
                                            <option value="M">Business</option>   
                                            <option value="M">First class</option>   						
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Show flights</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-stl">
            <p> <a href="https://github.com/IbroTnDev">CompDev Team</a></p>
    </div>
</div>